# Data Science Tools and Ecosystem

### In this notebook Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
#### 1.Python
#### 2.SQL
#### 3.R
#### 4.Julia

### Some of the commonly used libraries used by Data Scientists include:

 1. Numpy
 2. SciPy
 3. Scikit-learn
 4. TensorFlow

###
|Data Science Tools|
|:----------------:|
|TensorFlow        |
|Apache Spark      |
|RStudio           |

### Below are a few examples of evaluating arithmetic expression in Python

#### 3*4
#### 1+2
#### 4/2

In [3]:
#This is a simple arithmetic expression to multiply then add integers

z=(3*4)+5
print(z)

17

In [4]:
# This code will convert 200 minutes to hours by divding by 200
a=(200/60)
print("200 minutes in hours is:",a,"hours")

200 minutes in hours is: 3.3333333333333335 hours

**Objectives:**
* Python
* SQL
* R
* Julia
* Apache Spark

## Author
 Aniket